.git
venv/
__pycache__/
__setup__/
__backup__/

resource/view_controller/_add_new_data_form/
resource/view_controller/_add_new_group_form/
resource/view_controller/_forget_password_form/
resource/view_controller/_login_form/
resource/view_controller/_old_application_form/
resource/view_controller/_register_form/

.gitignore
log/*.jpg
database.sqlite

setup_offline_make.bat
setup_offline.bat
