__backup__/
__pycache__/
__tmp__/

.git/
.vscode/

setup_offline/
venv/

database/Group GTR I3/

result/*.csv
log/*.jpg

resource/windows/
resource/*.ui
resource/*.py

*.ipynb
*.ui
*.py

**/*.ipynb
**/*.py
