__backup__/
__pycache__/
__tmp__/

.git/
.vscode/

setup_offline/
venv/

database/Group GTR I3/
database/**/*.jpg

result/*.csv
log/*.jpg

resource/windows/
resource/*.ui

*.ipynb
*.ui

**/*.ipynb
**/*.ui

.gitignore
setup_offline_make.bat
setup_offline.bat
